<div class="modal fade" id="authLoadModal" tabindex="-1" role="dialog" aria-labelledby="authLoadModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div class="row my-3" >
              <div class="text-center w-100">
                  <i class="fa-solid fa-cog fa-spin fa-5x text-primary"></i>
              </div>
              <div class="text-center w-100 mt-3">
                  <span class="text-primary">Authenticating...</span>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>