<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4" style="min-height: 200px;">
        <div class="d-flex justify-content-center">
            <div class="mt-5">
                <button class="btn btn-outline-primary rounded-pill px-5" id="google-login-button">
                    <i class="bi bi-google me-2"></i>
                    Login with Google
                </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
